.main-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

/////////////////////////////////////////////////
// navbar

.my-navbar {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
  flex: none;
}

.dropdown-menu {
  z-index: 1001;
}

.navbar-inverse .dropdown-menu {
  background-color: #222;
  border-color: #080808;
  & > li > a{
    color: #999;
    &:hover {
      color: #fff;
      background-color: #000;
    }
  }
  & > .divider {
    background-color: #000;
  }
}

.sidebar-toggle {
  float: left;
  margin-top: 8px;
}

a.navbar-brand {
  padding-top: 10px;
}

// navbar
/////////////////////////////////////////////////

.content-container {
  min-height: 400px;
  flex: 1;
}

//====================================================
// Map

.my-map {
  min-height: 400px;
}

.power-info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.power-info h4 {
  margin: 0 0 5px;
  color: #777;
}

.power-legend {
  line-height: 18px;
  color: #555;
}
.power-legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

// Map
//====================================================

.my-footer {
  flex: none;
  background: #000000;
  color: #ffffff;
}
